# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AdminPanel.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\moame\RiderProjects\AdminPanel\.idea\.idea.AdminPanel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
