@model Blog

<div class="col-md-4 ftco-animate">
    <div class="blog-entry">
        <a asp-controller="Blog" asp-action="Details" asp-route-id="@Model.BlogId" class="block-20">
            <img src="@Model.ImageUrl" class="block-20" alt="">
        </a>
        <div class="text p-4 d-block">
            <div class="meta mb-3">
                <div>
                    <a href="#">July 12, 2018</a>
                </div>
                <div>
                    <a href="#">Admin</a>
                </div>
                <div>
                    <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                </div>
            </div>
            <h3 class="heading">
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@Model.BlogId">@Model.Name</a>
            </h3>
        </div>
    </div>
</div>